*{
    box-sizing: border-box;
}
body{
    font-size: 1vw;
    font-family: Raleway,Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.4;
    margin: 2% 5%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    font-size: 2vw;
    background-color: #eee; 
    width: 100%;
    box-sizing: 100%;
    z-index: 2;
    box-shadow: 0px 15px 10px -15px #111; 
    
}
h3{
    border-left: 0.52vw solid #076dd3;
    border-radius: 0.5vw;
    background-color: #94c5f6;
    padding-left: 0.5vw;
}
ul{
    margin: 0%;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    box-sizing: 100%;
    padding: 0% 5%;
}
nav ul li:hover{
    background-color: white;
    border-bottom: 0.2em solid #f09116e3;
    text-shadow: 0.03em 0.03em #053d5dbe;
}
li{
    list-style-image: url(bullet.png) ;
    
}
nav a{
    display:inline-block;
}
img.enlarge{
    display: none;
    position: absolute;
    min-width: 160px;
}
.dropdown{
    display: inline;
    width: 100%;
}
article:first-of-type{
    margin-top: 6.5vh;
}
img.gallery{
    width: 15%;
    height: 100%;
    transition: width 2s;   
}
img.enlarge:hover{
    display: block;
    position: absolute;
    min-width: 160px;
}

img.gallery:hover{
    width: 200px;
    
}
a:link,a:visited{
    color: #167de4;
    text-decoration: none;
    width: 100%;
}
a:hover{
    color: #0d64bb;
    border-radius: 0.6em;
    
}
::selection{
    color: white;
    background-color:#167de4;
}


div .breif{
    position: fixed;
    margin-top: 5vw;
    font-size: 1.2vw;
    width: 20vw;
    height: 100%;
    float: left;
    margin: 2vw 2vw 0 0;
    
}
.breif img{
    margin-top: 1vw;
    width: 100%;
    clip-path: circle(45.7% at 50% 50%);
}
div.light_dark{
    position: fixed;
    display: none;
    z-index: 2;
    top: 1vh;
    left: 1vw;
    width: 3vw;
    height: auto;
}
img.light_and_dark{
    display: none;
    width: 3vw;
}
div.light_dark1{
    position: fixed;
    z-index: 2;
    top: 1vh;
    left: 1vw;
    width: 3vw;
    height: auto;
}
img.light_and_dark1{
    width: 3vw;
}
main{
    margin-top: 2.5vw;
    font-size: 1.2vw;
    width: 50%;
    float: left;
    margin: 2vw 5vw 0 0;
    margin-left: 22vw;
    margin-bottom: 9vh;
    
}
aside{
    position: fixed;
    top: 3vw;
    right: 5%;
    margin-top: 3vw;
    height: 80%;
    font-size: 1.2vw;
    width:20%;
    padding: 1%;
    float: left;
    border-radius: 10px;
    
}
img{
    max-width: 100%;
    height: auto;
}
footer{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 2vw;
    width: 100%;
    background-color: rgb(202, 202, 202);
    margin-left: 0;
}
footer i{
    text-align: center;
    padding-left: 2vw;
}
footer .center{
    margin-left: 25%;
}
i{
    font-size: 1.2vw;
}
i.fa-envelope{
    color: #BB001B;
}
i.fa-github{
    color: #24292e;
}
i.fa-facebook{
    color:  #214caa;
}
i.fa-instagram{
    color: #c72e85;
}
i.fa-twitter{
    color: #1294e6;
}
i.fa-envelope:hover{
    color: #8d0015;
}
i.fa-github:hover{
    color: #123252;
}
i.fa-facebook:hover{
    color:  #074ce0;
}
i.fa-instagram:hover{
    color: #8d0050;
}
i.fa-twitter:hover{
    color: #005183;
}
.social_links{
    text-decoration: none;
}
/*Styling form */
input[type="text"],
input[type="email"],
input[type="submit"]{
    width: 100%;
    padding: 1vw;
    background-color: white;
    border: none;
    border-bottom: 3px solid #4196ec;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 0;
}
textarea{
    resize: none;
    width: 100%;
    height: 12vh;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 10px;
    
}
textarea:focus{
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #bbb;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="submit"]:focus{
    outline: none;
    border-bottom: 3px solid #003a74;
    background-color: white;

}
input[type="submit"]{
    background-color: #167de4;
    border-radius: 10px;
    color: white;
    border: 2px solid #0d527a;
    
}
::placeholder{
    font-weight: bold;
}
input[type="submit"]:hover{
    transform: scale(1.03,1.03);
}
input[type="submit"]:hover{
    background-color: #0d527a;
    cursor: pointer;
}
aside h3{
    margin: 0;
}
/*Styling form */
span img.end{
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/*For mobile*/
@media only screen and (max-width:600px){
    nav{
        font-size: 2.5vw;  
    }
    ul{
        padding-left: 0;
        margin-left: 5vw;
    }
    img.profile{
        margin-top: 30px;
    }
    article ul{
        font-size: 2.8vw;
    }
    h3{
        border-left: 0.8vw solid #076dd3;
        padding-left: 0.8vw;
    }
    div.light_dark{
        display: none;
        position: fixed;
        z-index: 2;
        top: 0.5vh;
        left: 1vw;
        width: 3vw;
        height: auto;
    }
    img.light_and_dark{
        display: none;
        width: 3vw;
    }
    div.light_dark1{
        position: fixed;
        z-index: 2;
        top: 0.5vh;
        left: 1vw;
        width: 3vw;
        height: auto;
    }
    img.light_and_dark1{
        width: 3vw;
    }
    div .breif{
        position: static;
        display: inline-block;
        
        width:100%;
        font-size: 2.8vw;
        font-weight: bold;
        letter-spacing: 0.2vw;
        word-spacing: 1.4vw;
        }
    div .breif img{
        
        float: left;
        width: 40%;
        clip-path: circle(45.7% at 50% 50%);
    }
    div.breif_words{
        margin-left: 42vw;
        margin-right: 0;
    }
    main{
        position: static;
        margin: 0;
        width: 100%;
        clear: both;
        font-size: 2.2vw;
            
        }
    aside{
        font-size: 2.2vw;
        position: static;
        margin: 0;
        margin-top: 5vh;
        margin-bottom: 5vh;
        height: 80%;
        width:100%;   
        }
    footer{
        height: 4vw;
        margin-left: 0;
        padding-left: 3vw;
        padding-top:1vh ;
        padding-bottom: 2.5vh;
    }
    footer i{
        padding-left: 2vw;
    }
    i{
        font-size: 2.5em;
        
    }
    footer div.center{
        margin-left: 6vw;
        margin-bottom: 1em;
    }}